{% extends 'Base.html' %}
{% load static %}
{% block content %}


<div class="mx-auto" style="width: 700px;">
    <form method="POST">
        {% csrf_token %}
        <div class="card mt-5 mb-5" style=" width:45rem;">
            <div class="shadow p-3 bg-white rounded">
                <div class="card-header text-center bg-transparent border-0">
                    <h3>
                        Edit Plan
                    </h3>
                </div>
                <div class="card-body">
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <h5 class="alert-heading">{{ field.label }}</h5>
                        <hr>
                        <p class="mb-0">{{ error|escape }}</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% endif %}

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Plan Name</label>
                                <input type="text" name="plan_name" value="{{object.plan_name}}" maxlength="150"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                {{  form.category }}
                            </div>
                            <div class="form-group">
                                <label>Family Name</label>
                                <input type="text" name="family_name" value="{{object.family_name}}" maxlength="150"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-5">

                            <div class="form-group">
                                <label>Total Number of Slots</label>
                                <input type="number" name="total_slots" value="{{object.total_slots}}"
                                    maxlength="150" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Monthly Payment Date</label>
                                <input type="text" name="monthly_payment_date" value="{{object.monthly_payment_date}}"
                                    maxlength="150" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="form-group">
                                <label>Current Monthly Payment Per line</label>
                                <input type="number" name="currently_monthly_payment_per_line"
                                    value="{{object.currently_monthly_payment_per_line}}" maxlength="150"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Plan Link</label>
                                <input type="text" name="linkWeb" value="{{object.linkWeb}}"
                                    maxlength="150" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Additional Notes</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    name="notes">{{object.notes}}</textarea>
                            </div>
                        </div>
                    </div>
                    </div>

                        <input type="submit" class="btn btn-primary mt-2" value="Save">
                        <a href="{% url 'delete' object.id %}" class="btn btn-primary mt-2">Delete</a>



                </div>
            </div>
        </div>





    </form>



</div>




{% endblock %}